<div class="container mt-5">
  <div class="mt-2">
    <h2 class="fw-700 secondary-text">Config Details</h2>
  </div>
  <div class="container mt-3">
    <div class="d-flex-justify-content-center">
      <div class="card mb-4 p-3">
        <form [formGroup]="congifDetails">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="schemaName" class="form-label fw-bold">Schema Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="schemaName" placeholder="Schema Name" name="schemaName"
                formControlName="schemaName" [readonly]="isAdd() || isView() || action == 'EDIT'">
              <div *ngIf="congifDetails.get('schemaName')?.touched" class="text-danger">
                <div *ngIf="congifDetails.get('schemaName')?.hasError('required')">
                  <small>Schema Name is required</small>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="schemaVersion" class="form-label fw-bold">Schema Version<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="schemaVersion" placeholder="Schema Version"
                name="schemaVersion" formControlName="schemaVersion" [readonly]="isAdd() || isView() || action == 'EDIT'">
              <div *ngIf="congifDetails.get('schemaVersion')?.touched" class="text-danger">
                <div *ngIf="congifDetails.get('schemaVersion')?.hasError('required')">
                  <small>Schema Version is required</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="form-group col-md-6">
              <label for="configName" class="form-label fw-bold">Config Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="configName" placeholder="Config Name" name="configName"
                formControlName="configName" [readonly]="isView()">
              <div *ngIf="congifDetails.get('configName')?.touched" class="text-danger">
                <div *ngIf="congifDetails.get('configName')?.hasError('required')">
                  <small>Config Name is required</small>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="description" class="form-label fw-bold">Description</label>
              <textarea rows="1" type="text" class="form-control" id="description" placeholder="Description"
                name="description" formControlName="description"></textarea>
            </div>
          </div>
          <div class="table-section mt-3">
            <h2 class="fs-22 fw-700 secondary-text">
              Config Values:
            </h2>
            <div class="row">
              <div class="col">

              </div>
              <div class="col-auto my-2">
                <button type="button" class="btn btn-success" (click)="addFields()">
                  <i class="fa fa-plus"></i> Add Config
                </button>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table" formArrayName="values" id="data-table-simple">
                <thead>
                  <tr class="table-head">
                    <th>Field</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let field of values.controls; let i = index" [formGroupName]="i">
                    <td>
                      <div class="mb-3">
                        <input type="text" class="form-control" id="field" formControlName="field" />
                        <div *ngIf="values.controls[i].get('field')?.touched" class="text-danger">
                          <div *ngIf="values.controls[i].get('field')?.hasError('required')">
                            <small>Field Name is required</small>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="mb-3">
                        <select formControlName="type" class="form-control" id="type">
                          <option *ngFor="let option of options; let i = index" [value]="option">
                            {{option}}</option>
                        </select>
                        <div *ngIf="values.controls[i].get('type')?.touched" class="text-danger">
                          <div *ngIf="values.controls[i].get('type')?.hasError('required')">
                            <small>Field type is required</small>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="mb-3">
                        <input *ngIf="values.controls[i].get('type')?.value == 'String'" type="text" class="form-control" id="value" formControlName="value" />
                        <input *ngIf="values.controls[i].get('type')?.value == 'Number' || values.controls[i].get('type')?.value == 'Integer'" type="number" class="form-control" id="value" formControlName="value" />
                        <select *ngIf="values.controls[i].get('type')?.value == 'Boolean'" class="form-control" id="value" formControlName="value">
                          <option value="true">True</option>
                          <option value="false">False</option>
                        </select>
                        <div *ngIf="values.controls[i].get('value')?.touched" class="text-danger">
                          <div *ngIf="values.controls[i].get('value')?.hasError('required')">
                            <small>Field value is required</small>
                          </div>
                        </div>
                        <div class="text-danger" *ngIf="values.controls[i]?.hasError('validation')">
                          <small>Value Must be in {{values.controls[i].get('type')?.value}}</small>
                        </div>
                        <div class="text-danger" *ngIf="values.controls[i]?.hasError('lessThanZero')">
                          <small>Value Must be a positive number</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="mb-3">
                        <button class="btn btn-danger" (click)="removeFields(i)">
                          Remove
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>

        <div class="row mt-3">
          <div class="col"></div>
          <div class="col-auto">
            <button class="btn" *ngIf="isView()" [routerLink]="['/config/list']"
              [queryParams]="{schemaName:selectedSchemaName,schemaVersion:selectedSchemaVersion}">Back</button>
            <button class="btn" *ngIf="isAdd()" [routerLink]="['']" >Back</button>
            <button class="btn btn-primary" *ngIf="isView()" [class.disabled]="congifDetails.invalid"
              (click)="updateDetails()"><i class="fa fa-pencil-square-o"></i> Edit</button>
            <button class="btn btn-primary" *ngIf="isAdd()" [class.disabled]="congifDetails.invalid"
              (click)="addDetails()"><i class="fa fa-pencil-square"></i> Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>