<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="d-flex">
                <label class="fs-20 fw-600 me-2">Select App:</label>
                <ng-select (change)="getModuleList()" [(ngModel)]="selectedData.appName" style="width: 250px;" id="app"
                    placeholder="--please select--">
                    <ng-option *ngFor="let app of appList" [value]="app">{{app}}</ng-option>
                </ng-select>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div *ngIf="moduleList" class="d-flex  mt-2">
                        <label class="fs-20 fw-600 me-2">Select Module:</label>
                        <ng-select (change)="getSchemaDetails()" [(ngModel)]="selectedData.moduleName" style="width: 250px;" id="module"
                            placeholder="--please select--">
                            <ng-option *ngFor="let module of moduleList" [value]="module">{{module}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngIf="selectedData.version" class="d-flex  mt-2">
                        <label class="fs-20 fw-600 me-2">Select Version: {{selectedData.version}}</label>
                        
                    </div>
                </div>
            </div>
            <div *ngIf="configList" class="d-flex mt-2">
                <label class="fs-20 fw-600 me-2">Select Config:</label>
                <ng-select (change)="getConfigDetail()" [(ngModel)]="selectedData.configName" style="width: 250px;" id="config"
                    placeholder="--please select--">
                    <ng-option *ngFor="let config of configList" [value]="config">{{config}}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <app-fieldslist *ngIf="schemaDetails" [isShowValues]="isShowConfigValues"
            [schemaData]="schemaDetails"></app-fieldslist>
    </div>
</div>