  .input-group-text{
    font-family: FontAwesome;
  }

  .app{
    padding: 50px 0 0 10px;
  }

  .sidebar-descr{
    color: var(--sidebar-descr);
  }

  .small-icon{
    padding: 100px 0px 0px 15px;
    font-size: 16px;
  }


  
  
  
