<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="d-flex">
                <label i18n="@@selectApp" class="fs-20 fw-600 me-2 text-color">Select App:</label>
                <ng-select (change)="getModuleList()" [(ngModel)]="selectedData.app" style="width: 250px;" id="app"
                    i18n-placeholder="@@placeholderApp" placeholder="--Select App--">
                    <ng-option *ngFor="let app of appList" [value]="app">{{app}}</ng-option>
                </ng-select>
                <div class="description">
                    <label class="text-color">{{schemaDetails?.description}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div *ngIf="moduleList" class="d-flex  mt-3 moduleName">
                        <label i18n="@@selectModule" class="fs-20 fw-600 me-2 text-color">Select Module:</label>
                        <ng-select (change)="getSchemaDetails()" [(ngModel)]="selectedData.module" style="width: 250px;" id="module"
                        i18n-placeholder="@@placeholderModule" placeholder="--Select Module--">
                            <ng-option *ngFor="let module of moduleList" [value]="module">{{module}}</ng-option>
                        </ng-select>
                    </div>
                    <div *ngIf="selectedData.ver" class="mt-3">
                        <label i18n="@@version" class="fs-15 fw-600 m-2 text-color">Version:</label>
                        <span class="text-color">{{selectedData?.ver}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="configList" class="d-flex mt-3 configName">
                <label i18n="@@selectConfig" class="fs-20 fw-600 me-2 text-color">Select Config:</label>
                <ng-select (change)="getConfigDetail()" [(ngModel)]="selectedData.config" style="width: 250px;" id="config"
                i18n-placeholder="@@placeholderConfig" placeholder="--Select Config--">
                    <ng-option *ngFor="let config of configList" [value]="config">{{config}}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="mt-5" style="margin-left: 8rem;">
        <app-fieldslist *ngIf="schemaDetails" [isShowValues]="isShowConfigValues"
            [schemaData]="schemaDetails"></app-fieldslist>
    </div>
</div>
