.breadcrumps-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px 42px 12px 42px;
    gap: 0px;
    align-items: center;
}

.breadcrumps-text {
    font-size: 22px;
    color: var(--form-label-text);
    font-weight: 400;
    text-align: left;
}

.form-control {
    border-radius: 4px;
    width: 26.625rem;
    max-height: 1.875rem;
    box-sizing: border-box;
    background-image: url('/assets/img/search-icon.svg');
    background-position: 10px;
    background-repeat: no-repeat;
}

.main-container {
    padding: 0px 24px 0px 24px;
    gap: 8px;
}

tr th,
tr td {
    background-color: var(--background);
}

.text-color {
    color: var(--form-label-text);
}

tr:hover td {
    background-color: var(--table-hover-color);
}

.action-btns {
    opacity: 0;
    display: flex;
    gap: 0.6rem;
}

tr:hover .action-btns {
    opacity: 1;
}

.edit-icon {
    background-image: var(--edit-icon);
    height: 2rem;
    width: 2rem;
    background-position: center;
    background-repeat: no-repeat;
}

.history-icon {
    background-image: var(--history-icon);
    height: 2rem;
    width: 2rem;
    background-position: center;
    background-repeat: no-repeat;
}