<nav class="navbar navbar-light top-menu sticky-top">
    <div class="container-fluid p-2">
      <h2 i18n="@@rigelHeading" class="navHeading"><img i18n-alt="@@remigesLogo" alt="Remiges Business Icon" src="assets/img/logo.svg" /> Rigel</h2>
      <!-- <ng-select [items]="languageList" bindLabel="label" bindValue="value" [searchable]="false"
      [multiple]="false" [clearable]="false" [(ngModel)]="selectedLang"
      (change)="onChange($event)" class="br-10 fs-13 fw-bold" placeholder="Language">
    </ng-select> -->
    </div>
  </nav>
