
  <div class="mt-2">
    <div class="row">
      <div class="col-md-6">
        <span class="fs-20 fw-600">{{fieldDetail.name}}</span>
        <div><small>{{fieldDetail.description}}</small></div>
      </div>
      <div class="col-md-2 fs-20 fw-400">{{fieldDetail.type}}</div>
      <ng-container *ngIf="isShowValue">
        <div *ngIf="isEdit" class="col-md-2">
          <input type="text" class="form-control" id="{{fieldDetail.name}}-input" name="{{fieldDetail.name}}-value" [value]="value" [(ngModel)]="value" (blur)="updateChanges(fieldDetail)">
        </div>
        <div *ngIf="!isEdit" class="col-md-2 fs-20 fw-600 text-primary">{{fieldDetail.value}} 
          <button class="btn p-0 mt-1" (click)="isEdit = true; value = fieldDetail.value!">
          <i class="fa-regular fa-pen-to-square mt-2"  style="margin-bottom: 20px;"></i>
        </button>
      </div>
      </ng-container>
    </div>
  </div>

  


  

 