<div class="mt-2">
  <div class="row">
    <div class="col-md-6">
      <span class="fs-20 fw-600 text-color">{{fieldDetail.name}}</span>
      <div><small>{{fieldDetail.description}}</small></div>
    </div>
    <div class="col-md-2 fs-20 fw-400 text-color">{{fieldDetail.type}}</div>
    <ng-container *ngIf="isShowValue">
      <div *ngIf="isEdit" class="col-md-2">
        <ng-container [ngSwitch]="fieldDetail.type">
          <div *ngSwitchCase="'bool'">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" (change)="updateChanges(fieldDetail)"
                id="{{fieldDetail.name}}-input" [(ngModel)]="value" name="{{fieldDetail.name}}-value">
            </div>
          </div>
          <div *ngSwitchCase="'float'">
            <input type="text" class="form-control" id="{{fieldDetail.name}}-input" name="{{fieldDetail.name}}-value"
              [value]="value" [(ngModel)]="value" (blur)="updateChanges(fieldDetail)" (keypress)="decimalFilter($event)" step="0.01">
          </div>
          <div *ngSwitchDefault>
            <div *ngIf="fieldDetail.constraints?.enum">
              <ng-select (blur)="updateChanges(fieldDetail)" id="{{fieldDetail.name}}" style="width: 250px;"
                [(ngModel)]="value" autofocus>
                <ng-option *ngFor="let option of fieldDetail.constraints?.enum" [value]="option">{{option}}</ng-option>
              </ng-select>
            </div>
            <div *ngIf="!fieldDetail.constraints?.enum">
              <input type="text" class="form-control" id="{{fieldDetail.name}}-input" name="{{fieldDetail.name}}-value"
                [value]="value" [(ngModel)]="value" (blur)="updateChanges(fieldDetail)">
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!isEdit" class="col-md-2 fs-20 fw-600 text-primary">{{fieldDetail.value}}
        <button class="btn p-0 mt-1 text-color"
          (click)="isEdit = true; value = fieldDetail.value!;cursorFocus(fieldDetail.name+'-input')">
          <i class="fa-regular fa-pen-to-square mt-2 mb-20"></i>
        </button>
      </div>
    </ng-container>
  </div>
</div>