.pagination-container {
  padding: 0.5rem 1rem;
  background-color: var(--background);
  border-radius: 5px;
}

  #pageSize{
  max-height: 2rem;
  max-width: 5rem;
  border-radius: 5px;
  background-color: white;
}

.pagination-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  min-width: 70%;
}

.pagination-info label {
  margin-right: 0.5rem;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 30%;
}

.pagination-controls button {
  padding: 0.25rem 0.5rem;
  font-size: 25px;
  background-color: var(--background);
  color: var(--text-color);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-controls button:disabled {
  color: gray;
  cursor: not-allowed;
}

.pagination-controls button:not(:disabled):hover {
  background-color: #007bff;
  color: white;
}

.pagination-controls span {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .pagination-controls {
    margin-top: 0.5rem;
    justify-content: center;
  }
}