@font-face {
	font-family: "Product Sans";
	src: url("../assets/font/Product-sans/Product Sans Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans";
	src: url("../assets/font/Product-sans/Product Sans Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans";
	src: url("../assets/font/Product-sans/Product Sans Bold Italic.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Product Sans";
	src: url("../assets/font/Product-sans/Product Sans Italic.ttf");
	font-weight: normal;
	font-style: italic;
}

/*
@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('Swiss721BT-BoldCondensed.woff2') format('woff2'),
        url('Swiss721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('Swiss721BT-BoldCondensed.woff2') format('woff2'),
        url('Swiss721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('Swiss721BT-RomanCondensed.woff2') format('woff2'),
        url('Swiss721BT-RomanCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/