<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Configuration Parameters Form</h2>
            <form [formGroup]="configForm">
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label fw-bold">Schema Name</label>
                            <input type="text" formControlName="schemaName" class="form-control form-control-sm"
                                id="schemaName" required>
                            <div *ngIf="configForm.get('schemaName')?.hasError('required') && configForm.get('schemaName')?.touched"
                                class="text-danger">
                                <small>Schema Name is required</small>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label fw-bold">Config Name</label>
                            <input type="text" formControlName="configName" class="form-control form-control-sm"
                                id="configName" required>
                            <div *ngIf="configForm.get('configName')?.hasError('required') && configForm.get('configName')?.touched"
                                class="text-danger">
                                <small>Config Name is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label fw-bold">Description</label>
                            <textarea formControlName="config_description" class="form-control form-control-sm"
                                id="description" placeholder="Type here..." rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div formArrayName="values">
                    <div *ngFor="let field of values.controls; let i = index" [formGroupName]="i" class="mb-3 field-container">
                      <div class="remove-button-container">
                        <button type="button" class="btn btn-danger btn-sm rounded-circle remove-button" (click)="removeField(i)">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                      <div class="mb-3">
                        <label for="fieldName" class="form-label fw-bold">Field Name<span class="text-danger">*</span></label>
                        <input type="text" formControlName="fname" class="form-control form-control-sm" id="fname"
                          required>
                        <div
                          *ngIf="values.controls[i].get('fname')?.hasError('required') && values.controls[i].get('fname')?.touched"
                          class="text-danger">
                          <small>Field Name is required.</small>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="valueType" class="form-label fw-bold">Value Type<span class="text-danger">*</span></label>
                        <select formControlName="type" class="form-select form-select-sm" id="type"
                          required>
                          <option value="Integer">Integer</option>
                          <option value="String">String</option>
                          <option value="Number">Number</option>
                          <option value="Boolean">Boolean</option>
                        </select>
                        <div
                          *ngIf="values.controls[i].get('type')?.hasError('required') && values.controls[i].get('type')?.touched"
                          class="text-danger">
                          <small>Field type is required.</small>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="fieldName" class="form-label fw-bold">Please enter value<span class="text-danger">*</span></label>
                        <textarea type="text" formControlName="value" class="form-control form-control-sm" id="value"
                          value="field.description" required></textarea>
                        <div
                          *ngIf="values.controls[i].get('value')?.hasError('required') && values.controls[i].get('value')?.touched"
                          class="text-danger">
                          <small>Value is required.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-primary rounded-circle" (click)="addField()">
                      <i class="fa fa-plus"></i>
                    </button>
                    <div class="ms-auto">
                      <button type="button" class="btn btn-primary" 
                        style="margin-right: 10px;">Back</button>
                      <button type="button" class="btn btn-primary"
                        [class.disabled]="configForm.invalid" >Save</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>