// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rigel-ui-primary: mat.define-palette(mat.$indigo-palette);
$rigel-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rigel-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rigel-ui-theme: mat.define-light-theme((color: (primary: $rigel-ui-primary,
        accent: $rigel-ui-accent,
        warn: $rigel-ui-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rigel-ui-theme);

/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'ngx-toastr/toastr';
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
  --primary: #00bdf2;
  --primary-text: #fff;
  --white: #fff;
  --background: #FFFFFF;
  --text-color: #000;
  --hr-line: #777;
  --form-label-text: #5A6169;
  --disabled-color: #777;
  --sidebar-color: #f9f9f9;
  --sidebar-descr: #a5a5a5;
  --ngselect-input: #ffffff;
  --ngselect-selected-value: #000;
  --table-hover-color: #F5FDFFF5;
  --icon-hover-color: #DCE4E5;
  --search-icon: url('./assets/img/search-icon.svg');
  --edit-icon: url('./assets/img/edit-icon.svg');
  --history-icon: url('./assets/img/history-icon.svg');
  --approve-icon: url('./assets/img/approve-icon.svg');
  --reject-icon: url('./assets/img/reject-icon.svg');
  --remiges-logo: url('./assets/img/Logo-Master-Rigel-Reverse.svg');
}

[data-theme="dark"] {
  --primary: #139ABF;
  --primary-text: #fff;
  --white: #fff;
  --background: #151515;
  --text-color: #fff;
  --hr-line: #ffffff;
  --form-label-text: #E6E6E6;
  --disabled-color: #777;
  --sidebar-color: #1a1a1a;
  --sidebar-descr: #999999;
  --ngselect-input: #151515;
  --ngselect-selected-value: #fff;
  --table-hover-color: #1A1A1A;
  --icon-hover-color: #111111;
  --search-icon: url('./assets/img/search-icon.svg');
  --edit-icon: url('./assets/img/edit-dark.svg');
  --history-icon: url('./assets/img/history-dark.svg');
  --approve-icon: url('./assets/img/approve-icon.svg');
  --reject-icon: url('./assets/img/reject-icon.svg');
  --remiges-logo: url('./assets/img/Logo-Master-Rigel-Reverse.svg');
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('./assets/font/Gotham-Font/Gotham-Black.otf');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('./assets/font/Gotham-Font/Gotham-Bold.otf');
}

@font-face {
  font-family: 'GothamBold';
  src: url('./assets/font/Gotham-Font/GothamBold.ttf');
}

@font-face {
  font-family: 'GothamBoldItalic';
  src: url('./assets/font/Gotham-Font/GothamBoldItalic.ttf');
}

@font-face {
  font-family: 'GothamBook';
  src: url('./assets/font/Gotham-Font/GothamBook.ttf');
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('./assets/font/Gotham-Font/Gotham-BookItalic.otf');
}

@font-face {
  font-family: 'GothamBookItalic';
  src: url('./assets/font/Gotham-Font/GothamBookItalic.ttf');
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('./assets/font/Gotham-Font/Gotham-Light.otf');
}

@font-face {
  font-family: 'GothamLight';
  src: url('./assets/font/Gotham-Font/GothamLight.ttf');
}

@font-face {
  font-family: 'GothamLightItalic';
  src: url('./assets/font/Gotham-Font/GothamLightItalic.ttf');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('./assets/font/Gotham-Font/GothamMedium.ttf');
}

@font-face {
  font-family: 'GothamMedium_1';
  src: url('./assets/font/Gotham-Font/GothamMedium_1.ttf');
}

@font-face {
  font-family: 'GothamMediumItalic';
  src: url('./assets/font/Gotham-Font/GothamMediumItalic.ttf');
}

@font-face {
  font-family: 'Gotham-Thin';
  src: url('./assets/font/Gotham-Font/Gotham-Thin.otf');
}

@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('./assets/font/Gotham-Font/Gotham-ThinItalic.otf');
}

@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('./assets/font/Gotham-Font/Gotham-UltraItalic.otf');
}

@font-face {
  font-family: 'Gotham-XLight';
  src: url('./assets/font/Gotham-Font/Gotham-XLight.otf');
}

@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('./assets/font/Gotham-Font/Gotham-XLightItalic.otf');
}

/* fonts end */

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--background);
}

body {
  margin: 0;
  font-family: "GothamBook", "Helvetica Neue", sans-serif;
}

.navbar{
  --bs-navbar-padding-y: 0.2rem !important;
  max-height: 6rem;
}

.sidebar {
  min-height: calc(100vh - 6rem);
  width: 15rem;
  background-color: var(--sidebar-color);
}

.fa-sun {
  font-size: 2rem;
  color: var(--white);
}

.text-color {
  color: var(--text-color);
}

.fa-moon {
  font-size: 2rem;
  color: var(--white);
}

.table-text {
  text-align: middle;
}

.top-menu {
  background-color: var(--primary);
}

.moduleName {
  margin-left: 20px;
}

.configName {
  margin-left: 60px;
}

.description {
  padding: 10px 0px 0px 10px;
}

small {
  font-size: 14px;
  color: var(--disabled-color);
}

.commit-nav-container{
  background-color: #E2E7ED;
  padding: 0px 24px 0px 42px;
  width: 100%;
  height: 3.438rem;
  gap: 1rem;
}

.commit-nav{
  display: flex;
  padding:12px 0px 12px 0px;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.commit-msg{
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.41px;
  text-align: left;
}

.commit-btn, .discard-btn{
  min-width: 6rem;
  height: 1.938rem;
  padding: 6px 18px 6px 18px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}

.commit-btn{
  color: var(--primary-text);
  background-color: var(--primary) !important;
}

.discard-btn{
  color: var(--form-label-text);
  background-color: var(--background) !important;
}

.breadcrumps-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 42px 12px 42px;
  gap: 0px;
  align-items: center;
}

.breadcrumps-text {
  font-size: 22px;
  font-weight: 400;
  color: var(--form-label-text);
  font-weight: 400;
  text-align: left;
}

.search-box {
  border-radius: 4px;
  width: 26.625rem;
  max-height: 1.875rem;
  box-sizing: border-box;
  background-image: var(--search-icon);
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 35px;
}

.table-container {
  padding: 0px 24px 0px 24px !important;
  gap: 8px !important;
}

.fieldlist {
    background-color: var(--background) !important;
}

.table-row:hover .table-cell,
.edit-mode .table-cell {
    background-color: var(--table-hover-color) !important;
}

.op-0 {
    opacity: 0;
}

.table-row:hover .op-0 {
    opacity: 1;
}

.text-color {
  color: var(--form-label-text) !important;
}

.action-btns {
  display: flex;
  gap: 1rem;
}

.edit-icon, .history-icon, .approve-icon, .reject-icon{
  height: 2rem;
  width: 2rem;
  background-position: center;
  background-repeat: no-repeat;
}

.edit-icon:hover, .history-icon:hover, .approve-icon:hover , .reject-icon:hover{
  border-radius: 50%;
  background-color: var(--icon-hover-color);
}

.remiges-logo{
  background-image: var(--remiges-logo);
  background-repeat: no-repeat;
  background-position: center;
  width: 140px;
  height: 75px;
}

.edit-icon {
  background-image: var(--edit-icon);
}

.history-icon {
  background-image: var(--history-icon);
}

.approve-icon {
  background-image: var(--approve-icon);
}

.reject-icon {
  background-image: var(--reject-icon);
}

.form-switch .form-check-input {
  width: 4rem;
  height: 2rem;
}

.enum-form .ng-select-container {
  min-width: 7.25rem;
  // width: 100%;
  height: 2rem;
}

.enum-form .ng-dropdown-panel{
  min-width: 7.25rem;
}

.ng-select .ng-select-container {
  background-color: var(--white);
  color: var(--input-field) !important;
  font-weight: 900 !important;
  height: 16px !important;
  background-color: var(--ngselect-input);
  // align-items: flex-end;
  align-items: center;
}

.ng-select-dropdown {
  width: 18rem;
}

.ng-select .ng-value .ng-value-label {
  color: var(--ngselect-selected-value);
}

.ng-select .ng-value {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: initial !important;
}

.fs-20 {
  font-size: 20px;
}

.fw-600 {
  font-weight: 600;
}

.mb-20 {
  margin-bottom: 20px;
}

.hr-line{
  color: var(--hr-line);
  border: 1px solid;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loader-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.error-text{
  font-size: 14px;
  font-weight: 400;
  color: rgb(193, 2, 2);
}

.input-error{
  border: 1px solid rgb(193, 2, 2);
  border-radius: 4px;
}

.toast-container .ngx-toastr {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  margin: 0;
  padding: 15px;
  width: 365px;
  height: 112px; 
  border-radius: 10px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toast-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  margin-right: 170px;
}

.toast-message {
  word-wrap: break-word;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 125px;
}

// Medium devices (Ipads, less than 1200px)
@media  (min-width: 768px) and (max-width: 1199.98px) {
  .search-box{
    width: 12.5rem;
  }
}