<div class="container schemaTable">
  <div>
    <h2 class="fw-500">Schema List</h2>
  </div>
  <div class="row my-2">
    <div class="col"></div>
    <div class="col-auto">
      <button [routerLink]="['/schema-form']" type="button" class="btn btn-success">Add Schema</button>
    </div>
  </div>
  <div class="card border-0 mt-2">
    <div class="table-responsive">
      <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table" id="data-table-simple"
        *ngIf="schemaData">
        <thead class="theading">
          <tr>
            <th>Sr.NO.</th>
            <th>Schema Name</th>
            <th>Version</th>
            <th>Description</th>
            <th>Modified By</th>
            <th>Schema Actions</th>
            <th>Config Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of schemaData, let i = index">
            <td>{{i+1}}</td>
            <td class=" text-primary">{{row.name}}</td>
            <td>{{row.version}}</td>
            <td>{{row.description}}</td>
            <td>{{row.modifiedBy}}</td>
            <td class="align-middle position-relative">
              <div class="container">
                <div class="row flex-nowrap">
                  <div class="col-auto">
                    <button type="button" class="btn p-0 mt-1 " [routerLink]="['/schema-form',row.id]">
                      <i class="fa fa-pencil fa-lg text-secondary"></i>
                    </button>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn p-0 mt-1 " (click)="onDeleteSchema(row)">
                      <i class="fa fa-trash fa-lg text-danger mx-3"></i>
                    </button>
                  </div>
                </div>
              </div>
            </td>
            <!-- <div class="col-auto">
              <button type="button" class="btn btn-light btn-outline-dark" [routerLink]="['/config-form',row.id]">Add
                Config</button>
            </div> -->
            <td class="align-middle position-relative">
              <div class="container">
                <div class="row flex-nowrap">
                  <div class="col-auto">
                    <button type="button" class="btn p-0 mt-1" [routerLink]="['/config-form',row.id]">
                      <i class="fa fa-lg fa-plus text-secondary"></i>
                    </button>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn p-0 mt-1" [routerLink]="['/config-form',row.id]">
                      <i class="fa fa-lg fa-eye text-primary mx-3"></i>
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>